/* .singing-container { */
    /* display: flex; */
    /* flex-direction: column; */
/* } */

.songsTable {
    max-width: 890px;
    margin: 0 auto;
}

#videoSelecter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#videoSelecter select {
    max-width: calc(100vw - 50px);
    overflow-x: hidden;
}

@media screen and (max-width: 890px) {
    #youtubeVideo {
        width: 384px;
        height: 216px;
    }

    /* .desktop-header { */
        /* display: none; */
    /* } */

    /* .mobile-header { */
        /* display: flex; */
        /* flex-wrap: wrap; */
    /* } */

    /* .song-row { */
        /* display: flex; */
        /* flex-wrap: wrap; */
    /* } */

    /* .song-row > td { */
        /* flex: 1 1 100%; */
        /* padding: 8px; */
        /* box-sizing: border-box; */
    /* } */

    /* .song-index, */
    /* .song-time { */
        /* flex: 1 1 50%; */
    /* } */

    /* .song-name { */
        /* flex: 1 1 100%; */
    /* } */

    /* .song-author, */
    /* .song-note { */
        /* flex: 1 1 50%; */
    /* } */
}

/* @media screen and (min-width: 801px) { */
    /* .desktop-header { */
        /* display: table-row; */
    /* } */

    /* .mobile-header { */
        /* display: none; */
    /* } */

    /* .song-row { */
        /* display: table-row; */
    /* } */

    /* .song-row > td { */
        /* display: table-cell; */
    /* } */
/* } */