/* body { */
    /* font-family: Arial, sans-serif; */
    /* text-align: center; */
    /* padding: 20px; */
/* } */

.button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.voice-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    /* background-color: #007bff; */
    background-color: #CAC6EE;
    color: white;
    transition: background-color 0.3s;
}

.voice-button:hover {
    /* background-color: #0056b3; */
    background-color: #A8A2D4;
}

#customAudioControls {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: calc(100vw - 50px);
    background: var(--purple-color);
    color: #fff;
    padding: 10px;
    text-align: center;
    transition: bottom 0.5s ease;
    border-radius: 5px;
}

#customAudioControls.show {
    bottom: 60px;
}

/* .custom-audio-controls { */
    /* display: flex; */
    /* flex-direction: column; */
    /* padding: 10px; */
    /* border: 1px solid #ccc; */
    /* background-color: #f7f7f7; */
    /* border-radius: 5px; */
/* } */

#seekBar {
    width: 100%;
    margin-bottom: 10px;
}

.controls-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 10px; */
}

/* .controls-row > * { */
    /* flex: 1; */
/* } */

.button-style {
    text-align: center;
    cursor: pointer;
    border: none;
    /* border: 1px solid; */
    border-radius: 5px;
    background: none;
    color: unset;
    font-size: 14px;
    padding: unset;
}

.volume-control, .more-options {
    position: relative;
}

.more-options-content,
.volume-control-content {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
